
body{
    background-color: rgb(58, 97, 211);
}

h3 {
    background-color: aquamarine;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
    font-family: 'Open Sans', sans-serif;
    padding: .4em;
    max-width: 90%;
}


a {
    background-color: darkcyan;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
    padding: .4em;
    margin-bottom: .75em;    
    display: block;
    font-family: 'Heebo', sans-serif;
    color:azure;
    max-width: 90%;
}
a:visited{
    color: rgb(236, 240, 27);
}

header, footer{
    background-color: aquamarine;
    text-align: center;
    padding: 1em;
    margin: 2em;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101
}

.fittsrule, .contrast, .whitespace{
    margin: 1em;
}


img{
    max-width: 90%;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
}


#firstp {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
    font-family: 'Heebo', sans-serif;
    background-color: darkcyan;
    padding: .4em;
    color: azure;
    max-width: 90%;
    
}

#secondp {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
    font-family: 'Heebo', sans-serif;
    background-color: darkcyan;
    padding: .4em;
    color: azure;
    max-width: 90%;
    
}

#thirdp{
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
    font-family: 'Heebo', sans-serif;
    background-color: darkcyan;
    padding: .4em;
    color: azure;
    max-width: 90%;
    
}

footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


#copyright {
    grid-column: 2/3;

}

#lastmod {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
}
 
@media screen and (min-width: 600px) {
    
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2em;
        max-width: 95%;
    }

    .fittsrule{
        grid-column: span 2;
    }

    #bestbuypic {
        margin-right: 1em;
    }


}

@media screen and (min-width: 800px) {
    
    .content {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px;
        margin: auto;
        
    }

    header, footer{
        max-width: 852px;
        margin: auto;
    }

    header{
        margin-top: 2em;
    }

    footer{
        margin-bottom: 2em;
    }

    .fittsrule, .contrast, .whitespace{
        grid-column: auto;
        margin: 1em;
    }




}