* {
    
}
body{
    background-color: rgb(58, 97, 211);
}

h3 {
    background-color: aquamarine;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
}

a {
    background-color: darkcyan;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: .3em;
    display: block;
    margin-bottom: .75em;    
    font-family: 'Heebo', sans-serif;
}

header {
    background-color: aquamarine;
    text-align: center;
    grid-column: 1 / -1;
    padding: 1em;
    border-style: double;
    border-width: 10px;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #0e0101;
}

.content {
    display: grid;
    grid-template: 1fr;
    padding: 20px;
    margin: auto;
}

.contrast {
    max-width: 550px;
    padding: 15px;  
}

.whitespace {
    max-width: 550px;
    padding: 15px;
}

.fittsrule {
    max-width: 550px;
    padding: 15px;
}


#firstp {
    background-color: darkcyan;
    padding: 15px;
    border-style: double;
    border-width: 10px;
    border-color: black;
    font-family: 'Heebo', sans-serif;
}

#secondp {
    background-color: darkcyan;
    padding: 15px;
    border-style: double;
    border-width: 10px;
    border-color: black;
    font-family: 'Heebo', sans-serif;
}

#thirdp {
    background-color: darkcyan;
    padding: 15px;
    border-style: double;
    border-width: 10px;
    border-color: black;    
    font-family: 'Heebo', sans-serif;
}

footer{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-style: double;
    border-width: 10px;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
}

#copyright {
    grid-column: 2/3;

}

#lastmod {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
}
 
@media screen and (min-width: 600px) {
    
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .bestbuypic {
        max-width: 325px;
    }

    .canopspic {
        max-width: 325px;
    }    

    .astonmartinpic {
        max-width: 750px;
    }    

    .contrast {
        max-width: 350px;
        grid-column: 1 / 2;
    }

    .whitespace {
        max-width: 350px;
        grid-column: 2 / 3; 
    }

    .fittsrule {
        grid-column: 1 / span 2;
        grid-row: 4 / 5; 
        max-width: 800;
        margin: auto;   
    }

}

@media screen and (min-width: 800px) {
    
    .content {
        grid-template: 1fr 1fr 1fr;
        max-width: 900px;
        
    }

    header{
        grid-column: 1 / 4;
    }

    .contrast {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 300px;
    }

    .whitespace {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 300px;
    }

    .fittsrule {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        max-width: 270px;
    }

    footer{
        grid-column: 1 / 4;
    }

}