/* Mobile screen viewing */

* {
    margin: auto;
}

body{
    max-width: 900px;
    margin: auto;
}

header {
    display: grid;
}

nav ul {
    display: none;
    list-style: none;
}
nav ul.open {
    display: block;
    position: absolute;
    top:10%;
    right: 4%;
    z-index: 1;
}


.menuBtn {
    margin: .2em;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}


nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    background-color: #555;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
    z-index: 1;
}

ul li:first-child {
    display: block;
}


nav ul li:active {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav {
    grid-column: 4/5;
    margin-top: 2em;

}

#headlogo {
    max-width: 55px;
    margin: 0.75em;
    margin-top: 1.5em;

}

#sociallink{
    grid-column: 3/4;
    display: flex;
}

.social {
    margin: .3rem;
}

.logobox {
    max-width: 50px;
}


#menuBtn {
    background-color: #92828d;
    padding: 5px;
    

}

.busimg {
    border-radius: 150px 150px 150px 150px;
    grid-column: 1/2;
}

#title {
    grid-column: 2/3;
    grid-row: 1/2;
}

#ti1{
    margin-left: 1em;
}

#ti2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -1.5em;
    margin-left: 1em;
}

aside {
    grid-row: 3/4;
    grid-column: span 4;
    text-align: center;
    background-color: #92828d;
    padding: .5em;
    margin: .75em;
    font-size: 1.25em;
    color: black;
}

header, footer {
    background-color: #1c448e;
    color: #fff;
}


.ph {
    background-color: #92828d;
    border: 1px solid #1c448e;
    margin: 1em;
    
}

.hero-img > img {
    border: solid 1px black;
    box-shadow: 5px 8px #555;
}

.hero-img {
    border: 1px single #1c448e;
}

#ph1 {
    background-color: white;
    border: none;
}


#ph5, #ph2, #ph4 {
    padding: 0.5rem;
}

#ph6{
    text-align: center;
}

.ref{
    font-size: x-small;
}



#popup {
    text-align: center;
    grid-column: span 4;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.join-us {
    padding: .75em;
    max-width: 150px;
}

#hero-button {
    position: absolute;
    right: 2em;
    top: 20em;
    background-color: rgba(0,0,0,0.5);
    color: #fff;

}

img {
    max-width: 100%
}


.highlight > section:nth-child(3){
    display: none;
}

.highlightDis {
    max-width: 80%;
    border: 1px solid #555;
    margin: 0.5rem;
    padding: 0.5rem;
}

.highlightDis > img {
    max-width: 50%;
    margin: .5rem;
}

footer {
    display: grid;
}

#chamberfooter {
    text-align: center;
    padding-top: 1em;
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

#chamberfooter > p {
    padding-top: 1em;
}

#footlogo {
    padding-top: 1em;

} 

#classfooter {
    text-align: center;
    display: grid;
    margin-top: 1em;
}

#footcont > p {
    padding-top: 1em;
}

#footcont {
    text-align: center;

}

#copy {
    display: flex;
}

/* discovery specific css */

.disContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
     
}

.dispics {
    padding: 1em;
    max-width: 90%;
    border-radius: 100px; 
    width: 200px; 
    margin: 0 3em .5em 0; 
    
}

.dispics:hover {
    border-radius: 0;

}

#seemore1, #seemore2, #seemore3, #seemore4, #seemore5, #seemore6, #seemore7, #seemore8, #seemore9 {
    display: none;
}

.disCard {

    margin: 0.5rem;
    padding: 2rem;
}

.disCard > p {
    padding: .5rem;
}

.javaMsg {
    text-align: center;
    padding: 1.5rem;
}

.msgDisp {
    background-color: #92828d;
    border: 1px solid #1c448e;
    padding: 0.5rem;
}


/* Join specific css */


form fieldset {
    margin: 2rem auto;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 0.5rem;
    max-width: 30rem;
}


form legend {
    color: #1c448e;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.jotop, form div {
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: 0.8rem;
}

form label.jotop, form label.jotop select, .price {
    display: block;
    font-size: 1rem;
    border:  solid 1px #1c448e;
    border-radius: 4px;
    padding: 0.75rem;
    color: black;
    max-width: 22rem;
    background-color: #b6a5b0;
    
}

form label.josbs {
    display: block;
    padding: 0.75rem 0;
    color: rgb(10, 10, 10);
}

form input.joBtn {
    border: none;
    background-color: #1c448e;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.jotop input:required {
    border-left: red solid 6px;
}

form label.jotop input:required:valid {
    border-left: green solid 6px;
}

.membership {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 1.5rem;
}

.jobtn {
    margin: auto auto 1rem 2rem;
}

.josbs {
    font-size: large;
}

.def {
    padding: 1rem;
    font-size: medium;

} 


/* Thank you page specific css */
.thacontent {
    min-height: 32rem;
    text-align: center;
    padding-top: 15rem;  
}

.thankcard, .disCard {
    background-color: #92828d;
    border: solid 1px black;
    max-width: 70%;
    box-shadow: 5px 8px #555;
}

.thankcard {
    padding: 4rem;
}
.thanks {
    font-size: 2rem;

 }

#thankheader {
     font-weight: bold;
 }

/* directory page CSS */

.listview img,
.gridview > section h2 {
    display: none;
}

.gridview img {
    display: block;
    width: 60%;
    margin: auto;
}

.listview > section h2 {
    display: block;
}

.listview section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.7em;
}

.gridview .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
}

.gridview section  {
    padding: 0.7em;
    margin: 0.7em;
    border-radius: 8px;
    background-color: #b6a5b0;
}

.listBtn, .cardBtn{
    padding: .7em;
    margin: .3rem;
}

.buttons {
    text-align: center;
    padding: 2rem;
    
}

.listview section:nth-child(2n) {
    background-color: #b6a5b0;
}


/* Contact specific page */

.comsg{
    padding: 1rem;
}

.comember {
    display: flex;
    flex-direction: column;
}

.cobtn {
    margin: 1rem;
}

.conrb {
    padding: 0.5rem;
}