/* Tablet screen viewing */
@media only screen and (min-width: 35rem) {
    


    nal ul {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    .indexMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #ph1 {
        grid-column: span 3;
    }
    #ph2 {
        grid-column: span 3;
    }
    #ph3 {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #ph3txt {
        display: none;
    } 


    #ph4 {
        grid-column: span 3;
    }
    #ph5 {
        grid-column: 1/3;;

    }
    #ph6 {
        grid-column: 3/4;;

    }

    .disContent{
        grid-template-columns: 1fr 1fr;
    }

    #arthauser {
        grid-column: span 2;
    }

    /* join specific css */

    .jobtn {
        margin: auto auto 2rem 4.5rem;
    }



}