/* Desktop screen viewing */

@media only screen and (min-width: 50rem){
    nav ul li a {
        padding: 0.5rem 1rem;
    }

    body{
        max-width: 75%;
    }
    nav button {
        display: none;
    }

    nav ul {
        display: flex;

    }

    #nav{
        grid-column: span 4;
        
    }
}